body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header section  */

.text-highlight{
    color:#EC4C7A;
    font-size: 50px;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    font-weight: 500;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(238, 56, 111),rgb(221, 76, 100));
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 50px;


}
.link-button:hover{
   box-shadow:0px 0px 10px rgb(245, 10, 10);
}
p{
    
    font-size: 20px;
}
section{
    overflow: hidden;
    padding:100px 0;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 2%;
}
.header-area{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    width: 100%;
}
h2{
    font-size: 40px;
    font-weight: bold;
}

/* biography area */

.biography-area{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* latest works area */

.work-area{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
}
.works{
    padding: 0 18%;

}

.latest-work{
    float: left;
    width: 27%;
    margin: 15px;
    position: relative;
}
#latest{
    text-align: center;
    font-weight: bold;

}
.latest-work:hover{
    width: 35%;
    height: 35%;
    
}

/* Footer-section */
.footer-section{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
    text-align: center;
}
#position{
    text-align: center;
    color: dimgrey;
}


#comment{
    width: 50%;
    font-weight: bold;
    margin: auto;
    padding-bottom: 40px;
    
}
/* contact-box */

.contact-box{
    background-image: linear-gradient(45deg, crimson, #EC4C7E);
    color: white;
    border-radius: 10px;
    width: 610px;
    margin:  auto;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
}
.contact-box:hover{
    box-shadow:0px 0px 10px rgb(245, 10, 10);

}

.social-media{
    padding-top: 60px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

.fa:hover {
    color:black;
    opacity: 2.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github {
    background: #576369;
    color: white;
  }

  /* form area */

  .form-area{
      width: 35%;
      padding-left: 33%;
      
  }
input[type=text], select, textarea {
    width: 100%; 
    padding: 2px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 2px; 
    margin-bottom: 2px; 
    resize: vertical 
  }
  
 
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
  }

/* footer section */
footer p{
    text-align: center;
}